<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.otheruserapp">


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Staff"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDoDgq0dV0_bblgqC9jnBA5dhb9g6Bb9DU" />

        <activity android:name=".Main2Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            android:label="Rajjagiri staff">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:launchMode="singleTop"
            android:name=".locService"
            android:label="locService"
            >
        </service>
        <activity android:name=".createAccountActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoggedInActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>